################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/.vs/ProjectEvaluation/medical_examination.metadata.v6.1
/.vs/ProjectEvaluation/medical_examination.projects.v6.1
/.vs/medical_examination/DesignTimeBuild/.dtbcache.v2
/.vs/medical_examination/DesignTimeBuild/.dtbcache.v2
